title
    | MSX Tapes

metatags(charset="UTF-8")
meta(name="viewport",
    content="width=device-width, initial-scale=1")

link(rel="stylesheet",
    href="_static/css/bulma/bulma.css")
script(defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js")
//link(rel="stylesheet",
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet",
    href="_static/css/style.min.css")
script(type="text/javascript",
    src="_static/js/jquery/jquery.js")
script(type="text/javascript",
    src="_static/js/filesaver/FileSaver.min.js")
script(type="text/javascript",
    src="_static/js/cassettejs/cassettejs.js")